@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --foreground: #333333;
  --accent: #4f46e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a202c;
    --foreground: #e2e8f0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
